@import url('https://fonts.googleapis.com/css?family=Krona+One|Oswald:200,300,400,500,600,700|Playfair+Display&display=swap');


   /* ------------------------- NavBar */

.bg-color { /*background*/
   background-color: #000;
   padding: 10px 10px 10px;
   font-size: 20px;
   color: #fff;
}


.web-title { /*navbar title*/
    font-size: 22px;
}

.navbar { /*navbar menu*/
  width: 100%;
  background-color: #000;
  overflow: auto;
}


#nav li {
    padding: 0 10px 0 10px;
    border-left: 1px white solid;
}

#nav li a:hover {
  background-color: red;
}


   /* ------------------------- INDEX*/

   /*-------------------------- Background */

.bg-index { 
    background-image: url("../images/bg/tiger-color-crop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    position: relative;
}


   /* ------------------------- Title*/

.web-name {
    color: white;
    position: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 50px;
    text-shadow: 5px 3px 3px black;
}

.web-name span {
    font-size: 46px;
    font-family: 'Oswaald', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
}

.web-name h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
}

   /*-------------------------- Menu links */

.image-grid-cover {
    float: center;
    position: relative;
    
}

.image-grid-cover-about { /*ABOUT*/
    background-image: url('../images/bg/camera.jpg');
    opacity: 80%;
    width: 100%;
    background-size: cover;
    min-height: 180px;
    position: relative;
    margin-bottom: 30px;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    border-radius: 4px; 
}

.image-grid-cover-blog { /*BLOG*/
    background-image: url("../images/portrait/skateboard.jpg");
    opacity: 80%;
    width: 100%;
    background-size: cover;
    min-height: 180px;
    position: relative;
    margin-bottom: 30px;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    border-radius: 4px; 
}

.image-grid-cover-contact { /*CONTACT*/
    background-image: url("../images/bg/loves.jpg");
    opacity: 80%;
    width: 100%;
    background-size: cover;
    min-height: 180px;
    position: relative;
    margin-bottom: 80px;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    border-radius: 4px; 
    
}

.image-grid-clickbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0,0,0,.45);
}

.cover-wrapper {
    font-size: 40px;
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: rgba(0,0,0,.8) 0 1px 0;
    z-index: 21;
    position: relative;
    top: 60px;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: red;
}

   /*-------------------------- ABOUT/BLOG/CONTACT */

    /* ------------------------- About Me */


.profile {  /* BACKGROUND */
    background: url("../images/bg/camera.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    position: relative;
    font-family: 'Oswald', sans-serif;
}


.about-me-title h2 { /* PAGE TITLE*/
    text-align: center;
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    text-shadow:5px 5px 10px black;
    font-size: 75px;
    margin: 130px 0 40px;
}

.about-me-intro { /*FIRST SECTION*/
    background-color: #1e2120;
    position: relative;
    border-bottom: 1px white solid;
    border-top: 5px white solid;
    border-left: 5px white solid;
    border-right: 5px white solid;
    padding: 10px 0 10px 0;
}

.about-me-head h2 {
    font-family: 'Oswald', sans-serif;
    color: #fafafa;
    text-align: center;
    font-size: 60px;
    text-shadow: 5px 3px 3px #000;
}

.about-me-info {
    text-align: center;
    padding: 30px 0 30px;
}

.about-me-info p {
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: 5px 3px 3px #000;
}

.about-me-info p span {
    font-size: 28px ;
    color: yellow;
    text-shadow: 5px 3px 3px #000;
}        /* FIRST SECTION ENDS */


.about-my-work h2 { /*SECOND SECTION*/
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-size: 60px;
    padding-bottom: 2px;
    text-shadow: #000000 5px 3px 3px;
}

.amw-title {
    border: 1px black solid;
    padding: 40px 0 30px 0;
}

.about-my-work-info {
    font-family: sans-serif;
    font-size: 23px ;
    text-align: center;
    padding: 1px;
}

.about-my-work-info p {
    padding: 10px;
    color: #fafafa;
    background-color: #1e2120;
    text-shadow: 4px 3px 3px black;
}

.about-my-work-info span {
    color: red;
    font-weight: bold;
}

.about-my-work-info h4 {
    color: #fafafa;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 6px 5px 3px black;
}

.thumbnail {
    border: 1px solid black;
}

.thumbnail p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: #fafafa;
}

   /*--------------------- Blog */

.blog-bg { /*BACKGROUND*/
  background-image: url("../images/bg/sticker.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}


.blog-header { /*HEADER*/
    border-bottom: 3px solid grey;
}

.blog-header h2 {
    color: #fff;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    padding: 90px 0 20px 0;
    text-shadow: 5px 3px 3px black;
    font-size: 50px;
}

.blog-header p {
    color: grey;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    text-shadow: 5px 3px 3px black;
}

.details-card { /*BLOG LINKS START*/
	background: grey;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-bottom: 30px;
    margin-top: 10px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img h4 { /* BLOG POST HEADERS */
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img h4 span{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}

.label {
  color: red;
  padding: 8px;
  font-family: 'Oswald', sans-serif;
}
.card-desc { /* BLOG DESCRIPTION */
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: darkgoldenrod;
    font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

.btn-card{ /* READ MORE BUTTON */
	background-color: black;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;;
}
.btn-card:hover {
    background: red;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}

   /* -------------------- Blog Page */

.blog-page { /* BLOG POST starts */
    background-color: grey;
    border-top: 1px solid white;
    margin-left: 70px;
}

.blog-page h2 { /* BP Header */
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    color: #fff;
    text-shadow: 5px 3px 3px black;
    text-align: center;
    margin: 20px 0 20px 0;
}

.blog-page p { /* BP Content */
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding: 10px 0 10px;;
    background-color: grey;
}

.blog-page span {
    color: red;
    font-size: 18px;
}

.blog-page-img { /* BP Img */
    padding: 5px 30px;
}

.blog-page-divide {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px white solid;
    border-top: 2px white solid;
}

.return-to a{ /* RETURN */
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    color: #fff;
    text-shadow: 5px 3px 3px black;
    text-decoration: none;
}

.return-to a:hover {
    color: red;
    transition: all 0.3s ease 0s;
}


    /* ------------------------ Contact */

.contact { /* BACKGROUND */
    background-image: url("../images/bg/table-lrg.jpg");
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

.contact-intro {
    margin-top: 7rem;
    text-align: center;
}

.section-title h2 { /* HEADER */
    color: darkgoldenrod;
    font-size: 50px;
    text-shadow: 5px 3px 3px black;
}

.section-title i { /* ICON */
    font-size: 70px;
    color: goldenrod;
}

.section-title p { /* CONTENT */
    font-size: 30px;
    color: #fff;
    text-shadow: 3px 2px 2px black;
}

.section-title p span {
    color: darkgoldenrod;
    font-weight: bolder;
}

.lock i { /* ICON */
    color:darkred;
    margin-top: 4rem;
}

.lock {
    margin-bottom: 3rem;
    text-align: center;
}

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control { /* CONTACGT FORM */
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  color: #fff;
}

#contact .form-control:focus {
  border-bottom-color: darkgoldenrod;
  background-color: black;
}

#contact input {
  height: 55px;
}

#contact button#submit { /* SUBMIT BUTTON */
  background: black;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #fa0707;
  color: #ffffff;
}


    /*-------------------- Newsletter */

.subscribe-area { /*BACKGROUND */
background-image: linear-gradient(to top, #000000 0%, grey 100%);
}

.pb-50 {
    padding-bottom: 10px;
}
.pt-70 {
    padding-top: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.subscribe-text span { /* SUB HEADER */
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
}
.subscribe-text h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 6px;
}
.subscribe-wrapper {
    overflow: hidden;
}
.mb-15 {
    margin-bottom: 15px;
}

.subscribe2-wrapper .subscribe-form input { /* SUB FORM */
    background: none;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    height: 57px;
    margin-right: 17px;
    padding-left: 35px;
    width: 70%;
    cursor: pointer;
}
 
.subscribe2-wrapper .subscribe-form button { /* SUB BUTTON */
    background: #ffff;
    border: none;
    border-radius: 30px;
    color: #4b5d73;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 18px 46px;
    transition: all 0.3s ease 0s;
}
.subscribe2-wrapper .subscribe-form button i {
    font-size: 18px;
    padding-left: 5px;
}

.subscribe-form button:hover {
    background-color: red;
}

 /*---------------------------- Footer */

body{
    font-family: 'Oswald', sans-serif;
}

.footer { /* BACKGROUND */
    background: #595959;
    padding: 20px 0px;
    color: #FFF;
}

.footer h1 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom:10px;
}

.footer ul li{
    margin:5px 0px;
}

.footer ul li a {
    color: #FFF;
    text-decoration:none;
}

.footer ul li a:hover {
    color: red;
}

.website {
    letter-spacing: 3px;
    font-size: 20px;
}

.menu {
    padding-top: 5px;
}

.details {
    padding-top: 5px;
}

.social-links li a span {
    font-size: 25px;
}



    /*----------------------- images hover */

img {
    opacity: 1;
}

img:hover {
    opacity: .90;
}

